.dark-mode body {
  background-color: #000000;
  color: #e0e0e0;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode header {
  background-color: #000000;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.dark-mode .header-content nav a {
  color: #ffffff;
  font-weight: normal;
  font-size: medium;
}

.dark-mode .sidebar {
  background-color: #181818;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.dark-mode .content {
  background-color: #272727;
  transition: background-color 0.3s;
}

.dark-mode .card {
  background-color: #1b1b1b;
  color: #e0e0e0;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode .card-content {
  background-color: #333333;
  color: #e0e0e0;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode .header-content nav a:hover {
  color: #e0513d;
}

.dark-mode h1.white, .dark-mode p.white, .dark-mode a.white {
  color: #e0e0e0;
}

.dark-mode h3.yellow, .dark-mode a.yellow {
  color: #ffd700;
}

.dark-mode .img-flex {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.dark-mode .container-for-servers{
  background-color: #1b1b1b;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #e0513d;
}

input:checked + .slider:before {
  transform: translateX(26px);
}