body {
    margin: 0;
    font-size: 15px;
}

header {
    background-color: #ddd163;
    padding: 20px 10px;
    margin: 0;
    width: 100%;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-content img {
    max-height: 50px;
}

.header-content nav {
    display: flex;
    gap: 20px;
}

.header-content nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: medium;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 100px;
    /* background-color: rgb(18, 102, 197); */
    background-color: #fdee72;

    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    display: flex;
    justify-content: center; /* Centraliza os ícones na barra lateral */
}

.sidebar-icon {
    width: 50px; /* Defina o tamanho desejado para o ícone */
    height: auto;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #3e97fd;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover; /* para manter a proporção da imagem */
}

.card-content {
    padding: 10px;
}

.card-content h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.card-content p {
    margin-bottom: 0;
}

.logo {
    padding: 8px;
    width: auto;
    height: auto;
}

.img-flex-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Distribui as imagens em duas colunas com tamanhos iguais */
    gap: 20px; /* Espaçamento entre as imagens */
    justify-content: center; /* Centraliza o conteúdo na horizontal */
    margin: 0 auto; /* Margem automática nas laterais para centralizar */
    max-width: 2000px; /* Defina um tamanho máximo para o card */
}

.img-flex {
    width: 100%; /* As imagens ocupam 100% da largura da coluna */
    height: auto; /* Altura automática para manter a proporção */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}
